#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(20, 2, 32);
background: linear-gradient(90deg, rgb(22, 6, 34) 0%, rgb(22, 24, 9) 57%, rgb(24, 3, 39) 100%);
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form{
    display: flex;
    gap: .5rem;
}

#navbar input{
    padding: .2rem .8rem;
    border-radius: 8px;
    border: none;
}

#navbar form button {
    background-color: rgb(116, 13, 212);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: black;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#navbar form button:hover{
    background-color: transparent;
    color: purple
}