*{
  font-family:  Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(41,3,68);
background: linear-gradient(90deg, rgba(41,3,68,1) 0%, rgba(91,96,42,1) 57%, rgba(41,3,68,1) 100%);
  color:aliceblue;
}

a{
  text-decoration: none;
  color: purple;
  transition: .5s;
}

a:hover{
  color: rgb(43, 7, 43);
}